label {
    display: block;
    float: left;
    width: 70px;
}

textarea {
    resize: none;
}

button {
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #2e518b; 
    color: #ffffff;     
    text-transform: uppercase; 
    border-radius: 50px; 
    }