.animate__animated.animate__tada {
    display: inline-block;
    --animate-duration: 5s;
}

p { 
    font-size: medium;  
    line-height: 35px;
    text-align: center;
}

#link { 
    color: rgb(6,69,173); 
}

