.animate__animated.animate__bounce {
    --animate-duration: 3s;
}

h3 {
    margin-bottom: 30px;
    font-size: 250%;
}

p { 
    font-size: medium;  
    line-height: 35px;
}

#link:hover { 
    color: rgb(184, 122, 168); 
}

img {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Novedades */
.news {
    width: 100%;
    height: 400px;
    background: url(/images/news/bannernews.jpg) no-repeat center center/cover;
    padding: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}